<h1>
    Pick your pooch to adopt today!
</h1>

<p>
    Thank you for your interest in adopting one of our animals! It is our goal to make sure that the animals in our care get the best possible home and that you get the best possible pet for your lifestyle. If you are interested in adopting one of our animals, we suggest you review the following animal profiles by clicking on their picture.
</p>

<p>
    You are welcome to call our adoptions desk, 607-257-1822 ext. 221, to ask any additional questions you might have and to make sure the animal you are interested in is still available. If it is, we can schedule a time to come down and meet the animal. Of course, if you like spontaneity, you are welcome to stop by our Adoption Center during business hours to see if your new best friend is waiting for you!
</p>

<div class="pet-point-container">
    <iframe src="https://ws.petango.com/webservices/adoptablesearch/wsAdoptableAnimals2.aspx?species=Dog&gender=A&agegroup=All&location=&site=&onhold=A&orderby=ID&colnum=3&css=https://spcaonline.com/assets/css/petango.css&authkey=yiuvoevlakoa5i8doeh6utr1ejoephiugoechieswoa7rouchi&recAmount=&detailsInPopup=Yes&featuredPet=Include&stageID="></iframe>
</div>