<div class="donate-container">
    <span>A little bit can go a long way for our furry friends.</span>
    <a class="no-style donate-link">Donate Today</a>
</div>
<div class="links-container">
    <div class="social-media">
        <div class="social-media-header">
            Socially Connected.
        </div>
        <div class="social-media-links">
            <a class="no-style social-media-link" href="https://www.facebook.com/spcaoftompkinscounty#" target="_blank">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a class="no-style social-media-link" href="https://x.com/SPCAofTC" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a class="no-style social-media-link" href="https://www.instagram.com/spcaoftompkinscounty/#" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
        <div class="newsletter-container">
            <a class="no-style newsletter-link">SIGN-UP FOR OUR NEWSLETTER</a>
        </div>
    </div>
    <div class="links">
        <div>
            <div class="link-header">
                Adopting a pet
            </div>
            <a class="no-style link">
                Adopting your new pet
            </a>
            <a class="no-style link" href="/dogs">
                Available dogs
            </a>
            <a class="no-style link" href="/cats">
                Available cats
            </a>
            <a class="no-style link">
                Other companion animals
            </a>
            <a class="no-style link">
                All available animals
            </a>
            <a class="no-style link">
                Report a stray animal
            </a>
        </div>
        <div>
            <div class="link-header">
                Support us
            </div>
            <a class="no-style link">
                Make a gift online
            </a>
            <a class="no-style link">
                Memorial and tribute tiles
            </a>
            <a class="no-style link">
                Urgently needed items
            </a>
            <a class="no-style link">
                Organize a fundraiser
            </a>
            <a class="no-style link">
                Businesses that care
            </a>
            <a class="no-style link">
                Other ways to help
            </a>
        </div>
        <div>
            <div class="link-header">SPCA services</div>
            <a class="no-style link">
                Lost or found animals
            </a>
            <a class="no-style link">
                Tompkins County Animal Control
            </a>
            <a class="no-style link">
                Stray Dogs and Injured Animals
            </a>
            <a class="no-style link">
                Reporting animal cruelty
            </a>
            <a class="no-style link">
                Feral cats and TNR
            </a>
            <a class="no-style link">
                Wildlife
            </a>
            <a class="no-style link">
                Surrendering a Pet
            </a>
            <a class="no-style link">
                Spay and neuter program
            </a>
            <a class="no-style link">
                Humane education and youth
            </a>
            <a class="no-style link">
                Training and socialization classes
            </a>
            <a class="no-style link">
                Free rabies clinics
            </a>
            <a class="no-style link">
                Veterinary care
            </a>
            <a class="no-style link">
                Our partners
            </a>
        </div>
        <div>
            <div class="link-header">Get involved</div>            
            <a class="no-style link">
                Our history and mission
            </a>
            <a class="no-style link">
                Our staff
            </a>
            <a class="no-style link">
                Board of directors
            </a>
            <a class="no-style link">
                Job openings
            </a>
            <a class="no-style link">
                Statistics
            </a>
            <a class="no-style link">
                Volunteer Opportunities
            </a>
            <a class="no-style link">
                Become a foster family
            </a>
            <a class="no-style link">
                Community service
            </a>
        </div>
    </div>
</div>
<div class="copyright-container">
    <div>
        NYS Dept. of Ag and Mkts Registration Number: RR254
    </div>
    <div>
        © 2025 SPCA of Tompkins County. All Rights Reserved.
    </div>
</div>