<div class="donate-container">
    <span>A little bit can go a long way for our furry friends.</span>
    <a class="no-style donate-link">Donate Today</a>
</div>
<div class="links-container">
    <div class="social-media">
        <div class="social-media-header">
            Socially Connected.
        </div>
        <div class="social-media-links">
            <a class="no-style social-media-link" routerLink="https://www.facebook.com/spcaoftompkinscounty#" target="_blank">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a class="no-style social-media-link" routerLink="https://x.com/SPCAofTC" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a class="no-style social-media-link" routerLink="https://www.instagram.com/spcaoftompkinscounty/#" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
        <div class="newsletter-container">
            <a class="no-style newsletter-link">SIGN-UP FOR OUR NEWSLETTER</a>
        </div>
    </div>
    <div class="links">
        <div>
            <div class="link-header">
                Adopting a pet
            </div>
            <a class="no-style link" routerLink="/adopting-pets">
                Adopting your new pet
            </a>
            <a class="no-style link" routerLink="/dogs">
                Available dogs
            </a>
            <a class="no-style link" routerLink="/cats">
                Available cats
            </a>
            <a class="no-style link" routerLink="/other-animals">
                Other companion animals
            </a>
            <a class="no-style link" routerLink="/other-animals">
                All available animals
            </a>
            <a class="no-style link" routerLink="/tcac">
                Report a stray animal
            </a>
        </div>
        <div>
            <div class="link-header">
                Support us
            </div>
            <a class="no-style link" routerLink="/gifts">
                Make a gift online
            </a>
            <a class="no-style link" routerLink="/tiles">
                Memorial and tribute tiles
            </a>
            <a class="no-style link" routerLink="/needed-items">
                Urgently needed items
            </a>
            <a class="no-style link" routerLink="/fundraisers">
                Organize a fundraiser
            </a>
            <a class="no-style link" routerLink="/businesses-that-care">
                Businesses that care
            </a>
            <a class="no-style link" routerLink="/other-help">
                Other ways to help
            </a>
        </div>
        <div>
            <div class="link-header">SPCA services</div>
            <a class="no-style link" routerLink="/lost-and-found">
                Lost or found animals
            </a>
            <a class="no-style link" routerLink="/tcac">
                Tompkins County Animal Control
            </a>
            <a class="no-style link" routerLink="/tcac">
                Stray Dogs and Injured Animals
            </a>
            <a class="no-style link" routerLink="/tcac">
                Reporting animal cruelty
            </a>
            <a class="no-style link" routerLink="/tcac">
                Feral cats and TNR
            </a>
            <a class="no-style link" routerLink="/tcac">
                Wildlife
            </a>
            <a class="no-style link" routerLink="/surrender-pet">
                Surrendering a Pet
            </a>
            <a class="no-style link" routerLink="/spay-neuter">
                Spay and neuter program
            </a>
            <a class="no-style link" routerLink="/education">
                Humane education and youth
            </a>
            <a class="no-style link" routerLink="/classes">
                Training and socialization classes
            </a>
            <a class="no-style link" routerLink="/rabies-clinics">
                Free rabies clinics
            </a>
            <a class="no-style link" routerLink="/vet-care">
                Veterinary care
            </a>
            <a class="no-style link" routerLink="/partners">
                Our partners
            </a>
        </div>
        <div>
            <div class="link-header">Get involved</div>            
            <a class="no-style link" routerLink="/about">
                Our history and mission
            </a>
            <a class="no-style link" routerLink="/staff">
                Our staff
            </a>
            <a class="no-style link" routerLink="/board">
                Board of directors
            </a>
            <a class="no-style link" routerLink="/jobs">
                Job openings
            </a>
            <a class="no-style link" routerLink="/stats">
                Statistics
            </a>
            <a class="no-style link" routerLink="/volunteer">
                Volunteer Opportunities
            </a>
            <a class="no-style link" routerLink="/foster-family">
                Become a foster family
            </a>
            <a class="no-style link" routerLink="/community-service">
                Community service
            </a>
        </div>
    </div>
</div>
<div class="copyright-container">
    <div>
        NYS Dept. of Ag and Mkts Registration Number: RR254
    </div>
    <div>
        © 2025 SPCA of Tompkins County. All Rights Reserved.
    </div>
</div>