$color-primary: #3362D9;
$color-primary-light: #698FEA;
$color-primary-dark: #303030;
$color-primary-dark-alt: #2e2e2e; //used by footer exclusivley?
$color-accent: #F3C54A;
$color-danger: #F85757;

$color-text: #2C2C2C;
$color-text-gray: #8A8888;

$font-header: 'museo-sans', sans-serif;
